<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">if it's not a hammer, we sell it!</h3>
</div>
-->
<div class="jumbotron">
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <code>
    awesomeThings.length: {{awesomeThings.length}}
  </code>


  <style>
    .indent{
        margin-left: 10px;
      }
  </style>

  <p>
    <dl id="item-list" ng-repeat='item in awesomeThings' >
      <dt>{{item.name}}</dt>
      <dd class="indent">
        Description:{{item.desc}}<br/>
        <addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" data="item">Add To Cart</addtocart>
      </dd>
    </dl>
  </p>

  <p>
    <cart></cart>
  </p>


<div class="footer">
  <p>♥ from the coder</p>
</div>
